<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Card For HTML</title>
		<link rel="stylesheet" href="card-html.css" />
	</head>
	<body>
		<div class="card-container">
			<div class="language">
				<h2>HTML</h2>
				<img id="python-img" src="img/html-logo.png" alt="" />
			</div>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Dolorum illo dolor necessitatibus perferendis. Ea ipsum iusto
				laboriosam voluptates? Sunt, ex exercitationem sit quae animi
				suscipit atque cumque doloribus nam quisquam.
			</p>
			<a class="documentation" href=" https://developer.mozilla.org/en-US/docs/Web/HTML"
				><button class="btn btn-1">Documentation of HTML</button> </a
			><button class="btn btn-2">My Projects</button>
		</div>
	</body>
</html>
