<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programming Blogs and Latest Tools</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/card-html.css" />
  </head>
  <body class="">
    <header>
      <nav class="navbar">
        <span id="blog-name"><a href="/">{{name}}</a></span>
        <ul class="navbar-ul">
          <a href="/"><li class="navbar-ul-li">Home</li></a>
          <a href="/projects"><li class="navbar-ul-li">Projects</li></a>
          <a href="/blog"><li class="navbar-ul-li">Blogs</li></a>
          <a href="/contact"><li class="navbar-ul-li">Contact Us</li></a>
        </ul>
      </nav>

      <nav class="my-skills">
        <a href="/" class="img-con"
          ><img class="con-img home-ico" src="static/img/home.png" alt=""
        /></a>
        <ul class="my-skills-ul">
          {% for skill in skills %} {% include 'skills.html' %} {% endfor %}
        </ul>
        <span class="img-con"
          ><img class="con-img" src="static/img/search.png" alt=""
        /></span>
      </nav>
      <section id="skill-desc">{{ html | safe }}</section>
    </header>
    <main id="main-con">
      <section class="flex-container">
        <div class="left-container">
          <h1>
            Welcome to
            <abbr title="LTC" id="blog-name-main">{{name}}</abbr>
          </h1>
          <h2 id="skills-name">
            Skills You will get here: <span class="skill-name"></span>
          </h2>
          <p class="introduction">
            Confused on which course to take? I have got you covered. Browse
            courses and find out the best course for you. Its free! Code With
            Harry is my attempt to teach basics and those coding techniques to
            people in short time which took me ages to learn.
          </p>
          <a href="/contact"
            ><button class="btn btn-main-1 btn-main-page">Contact Me</button></a
          >
          <a href="/projects"
            ><button class="btn btn-main-2 btn-main-page">
              View Projects
            </button></a
          >
        </div>
        <div class="right-container">
          <img src="static/img/group-programmers.jpg" alt="" />
        </div>
      </section>
      <hr class="hr-shadow" />
      <section class="projects-container">
        <div id="project-h1">
          <h1>Some Projects</h1>
          <img id="firstArrow" src="/static/img/arrowpng.png" alt="" />
        </div>
        <div class="projects-con">
          {% for key, value in pcc.items() %}
          <div class="project-card">
            <img src="{{ value.image_url }}" class="card-img" alt="Card Image" />
            <div class="card-content">{{ value.content }}</div>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- <hr class="hr-shadow" /> -->
    </main>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      let typed = new Typed(".skill-name", {
        strings: ["Python", "HTML", "CSS", "JS", "Tailwind CSS", "Bootstrap"],
        typeSpeed: 50,
        backSpeed: 40,
        loop: true,
      });
    </script>
    <script src="static/script.js"></script>
  </body>
</html>
